.orga{
    background-color: $taupegray;
}

.orga__img{
    
   
    padding: 100px;
}

.orga_h3{
    text-align: center;
    color: $white;
    font-family: $raleway;
    font-size: $large;
    font-weight: 700;
}

.orga__text{
    color: $white;
    
    font-family: $raleway;
    font-size: $medium;
    font-weight: 400;
}