.limache{
    background-color: $snow;    
    padding-top: 50px;
    padding-bottom: 20px;
}

.limache__img{           
    height: 350px;
    width: auto;    
}

.limache_h4{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: $taupegray;
    font-family: $raleway;
    font-size: $large;
    font-weight: 400;
}

.limache__text{
    padding-left: 150px;
    padding-right: 150px;
    color: $taupegray;    
    font-family: $raleway;
    font-size: $medium;
    font-weight: 400;
}