.nosotros{
    background-color: $snow;    
    padding-top: 50px;
    padding-bottom: 20px;
}

.nosotro__interiror{
    background-color: $white;

}

.nosotros__img{    
    padding-top: 60px;   
    height: 450px;
    width: auto;    
}

.nosotros{
    padding: 70px;
    background-color:$jellybean ;
    text-align: center;
  }

.nosotro__titulo{
    color: $white;
    font-family: $raleway;
    font-size: $x-large;
    font-weight: bold;
}

.nosotros_h4{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: $taupegray;
    font-family: $raleway;
    font-size: $large;
    font-weight: 400;
}

%texto{
    padding-left: 150px;
    padding-right: 150px;
    color: $taupegray;    
    font-family: $raleway;
    font-size: $medium;
    font-weight: 400;
}

.nosotros__text1{
    padding-bottom: 5px;
    @extend %texto;    
}

.nosotros__text2{
    padding-bottom: 5px;
    @extend %texto;    
}

.nosotros__text3{
    padding-bottom: 5px;
    @extend %texto;      
}

.nosotros__text4{
    padding-bottom: 30px;
    @extend %texto;    
}
