.orga{
    background-color: $taupegray;    
    padding-top: 50px;
    padding-bottom: 20px;
}

.orga__img{    
       
    height: 350px;
    width: auto;    
}

.orga_h3{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: $white;
    font-family: $raleway;
    font-size: $large;
    font-weight: 400;
}

.orga__text{
    padding-left: 150px;
    padding-right: 150px;
    color: $white;    
    font-family: $raleway;
    font-size: $medium;
    font-weight: 400;
}